<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.62-alpha" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.62-alpha" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net472" />
</packages>